<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="core">
            <directory>tests/Core</directory>
        </testsuite>
        <testsuite name="repository-pdo">
            <directory>tests/RepositoryPDO</directory>
        </testsuite>
        <testsuite name="web-contract">
            <directory>tests/WebContract</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/*/src</directory>
        </include>
    </source>
</phpunit>
